section h2, h3, h4, h5 {
  margin: 0;
}

figcaption {
  margin-bottom: 10px;
}

blockquote {
  position: relative;
  padding: 20px 20px 20px 30px;
  background: #f7f7f7;
}

blockquote::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background-color: #0077cc;
}

.bullet-dash li {
  text-align: left;
  list-style: none;
  padding-top: 5px;
}

.bullet-dash li::before {
  content: "—";
  color: #0077cc;
  font-weight: bold;
  margin-right: 10px;
}

.recommended-links__list {
  list-style: none;
}

.recommended-links__list li {
  padding: 5px;
}
