@import "article.css";

body,
h1,
h2,
footer p {
  margin: 0;
  padding: 0;
}

h1 {
  color: #fff;
}

img {
  max-width: 50%;
  max-height: 50%;
}

body {
  background-image: url('/assets/background.jpg');
  background-repeat: repeat;

  background-color: #000;
  font-family: 'Verdana', sans-serif;
  text-align: center;
}

main {
  margin: auto;
  overflow: auto;
  background-color: #fff;
  width: 50%;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

header {
  background-color: #ffcc00;
  padding: 20px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #000;
  padding: 5px 10px;
}

.intro h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.intro p {
  margin-bottom: 30px;
  font-size: 18px;
}

footer {
  background-color: #ffcc00;
  padding: 10px;
  width: 100%;
  bottom: 0;
}

nav a:hover {
  background-color: #0077cc;
  color: #fff;
}