body,
h1,
h2,
footer p {
  margin: 0;
  padding: 0;
}

h1 {
  color: #fff;
}

p {
  margin-bottom: 30px;
  font-size: 18px;
}

aside {
  background-color: rgb(230, 230, 230);
}

img {
  max-width: 50%;
  max-height: 50%;
}

body {
  background-image: url('/assets/background.jpg');
  background-repeat: repeat;

  background-color: #000;
  font-family: 'Verdana', sans-serif;
  text-align: center;
}

main {
  margin: auto;
  overflow: auto;
  background-color: #fff;
  width: 50%;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

header {
  background-color: #ffcc00;
  padding: 20px;
}

footer {
  background-color: #ffcc00;
  padding: 10px;
  width: 100%;
  bottom: 0;
}